amqp==2.3.2
billiard==3.5.0.5
captcha==0.2.4
celery==4.2.1
Django==2.1.11
django-ranged-response==0.2.0
django-simple-captcha==0.5.6
elasticsearch==6.3.1
elasticsearch-dsl==6.3.0
gunicorn==19.7.1
html5lib==1.0b10
httplib2==0.11.3
kombu==4.2.2.post1
mod-wsgi==4.6.4
Pillow==5.1.0
psycopg2==2.7.3.2
PyPDF2==1.26.0
python-dateutil==2.7.5
pytz==2017.3
reportlab==3.4.0
six==1.11.0
urllib3==1.24.1
vine==1.1.4
webencodings==0.5.1
xhtml2pdf==0.2.1
